.vscode
.idea
blueprints
build
crash-reports
data
ESM
local
logs
modernfix
mods
patchouli_books
resourcepacks
saves
schematics
shaderpacks
trees
xaero
kubejs/probe
profileImage
.curseclient


config/forgeendertech/

TrashSlotSaveState.json
emi.json
usernamecache.json
knownkeys.txt
minecraftinstance.json
observable_announce
options.txt
patchouli_data.json
rhino.local.properties
usercache.json