.vscode
TrashSlotSaveState.json
emi.json
usernamecache.json
blueprints
build
crash-reports
config
defaultconfigs
data
ESM
local
logs
modernfix
mods
patchouli_books
resourcepacks
saves
schematics
shaderpacks
trees
xaero
knownkeys.txt
minecraftinstance.json
observable_announce
options.txt
patchouli_data.json
rhino.local.properties
profileImage
.curseclient
usercache.json
kubejs/probe